body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav{
  background-color: #2bb7d0;
}
.link{
  text-decoration: none;
  color: white;
}
.link2{
  text-decoration: none;
  color: blue;
}
.title{
  color: white;
	font-size: 45px;
	-webkit-text-stroke: 1px #ff824c;
}

/* orange #ff824c
blue #2bb7d0
yellow #f5cb39 */

.logoBtn{
  padding-left: 10px;
  max-inline-size: 140px;
}
.navBtn{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.navLogo{
  justify-content: center;
  position: relative;
}
/* 
.loginBtn{
  button: #ff824c;
} */
/* .loginCard{

} */

.noBullet{
  list-style-type: none;
}

.footer{
  background-color: #2bb7d0;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
}